div#comments {
    clear: both;
    margin: 0 0;
    /* TODO min-height for an accurate layout sooner? */
}

/* for Facebook comments, override/customize styles as needed: */
div.fb-comments {
    display: block;
}
div.fb-comments span, 
div.fb-comments iframe {
    width: 100% !important;
}

#header > header h1 {
  
  &#logo {
    font-size: medium;
    > a {
      font-size: x-large;
    }
    hr {
      content: "";
      padding: 0.3em;
      margin: 0.2em;
      border: 1px solid transparent;
    height: 0px;
    }
  }
}